<div class="container">
  <div class="text-center form-group">
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-cog"></i> GLB Control Panel</a></li>
      <li class="active">
        <span ng-if="!activeTeam">Game Planner</span>
        <span ng-if="activeTeam"><a href="" ng-click="goBack()">Game Planner</a></span>
      </li>
      <li ng-if="analytics" class="active">vs. {{activeTeam.name}}'s Defense</li>
    </ol>
  </div>

  <div ng-if="teams && !activeTeam" class="text-center form-group">
    <label>Analysis against which team's defense?</label>
  </div>
  <div class="text-center form-group">
    <div ng-if="!teams"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
    <div ng-if="!activeTeam" class="ss-card animate" ng-repeat="team in teams">
      <div class="frame" ng-click="chooseTeam(team)">
        <div class="body">
          <div>
            <img src="http://glb.warriorgeneral.com/game/team_pic.pl?team_id={{team._id}}" style="width: 75px;">
          </div>
          <div><strong>{{team.name}}</strong></div>
        </div>
      </div>
    </div>
    <div ng-if="activeTeam" class="ss-card animate active-primary">
      <div class="frame">
        <!-- div class="pull-top pull-left clickable"><i class="fa fa-reply fa-2x"></i></div -->
        <div class="body">
          <div>
            <img src="http://glb.warriorgeneral.com/game/team_pic.pl?team_id={{activeTeam._id}}" style="width: 75px;">
          </div>
          <div><strong>{{activeTeam.name}}</strong></div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="activeTeam && !analytics && !$$loadAnalytics">
    <div class="text-center form-group"><label>Using which games?</label></div>
    <div class="form-group text-center">
      <button class="btn btn-primary" ng-click="generateReport()">Generate Intelligence</button>
    </div>
    <div class="form-group text-center">
      <div ng-if="!games"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
      <div class="ss-card animate" ng-repeat="game in games">
        <div class="frame" ng-click="game.$$active = !game.$$active">
          <div ng-if="game.$$active" class="pull-top pull-right"><i class="fa fa-check fa-2x text-success"></i></div>
          <div class="pull-bottom text-muted text-nowrap small">{{game.created|date:'medium'}}</div>
          <div class="body">
            <div class="inline">
              <img src="http://glb.warriorgeneral.com/game/team_pic.pl?team_id={{game.vs.teamId}}" style="width: 70px;">
            </div>
            <div class="inline text-left">
              <div class="ellipsis"><i class="fa fa-hashtag"></i> {{game._id}}</div>
              <div class="ellipsis">
                <strong><span ng-if="game.vs.road">@</span><span ng-if="!game.vs.road">vs</span>
                  {{game.vs.name}}</strong>
              </div>
              <div class="ellipsis">
                <span ng-if="game.vs.road">{{game.score.away}} @ {{game.score.home}}</span>
                <span ng-if="!game.vs.road">{{game.score.home}} vs {{game.score.away}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="$$loadAnalytics" class="text-center"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
  <div ng-if="analytics">
    <div ng-if="analytics|isEmpty">No Analytics Found</div>
    <div uib-accordion="">
      <div uib-accordion-group="" ng-if="analyticList.length" class="row"
          ng-repeat="(type, analyticList) in analytics" is-open="$$isOpen">
        <div uib-accordion-heading="">
          <div><strong>{{type}}</strong></div>
        </div>
        <div class="ss-card animate" ng-class="analytic.$$scoreType" ng-repeat="analytic in analyticList">
          <div class="frame" ng-click="viewCard(analytic)">
            <div class="pull-top"><strong>{{analytic.playbook.name}}</strong></div>
            <div class="body">
              <div class="inline">
                <img ng-src="http://glb.warriorgeneral.com/images/plays/{{analytic.playbook.id}}.gif"
                    style="width: 120px;">
              </div>
              <div class="inline" style="max-width: 120px;">
                <div class="text-info">{{analytic.playbook.formation}}</div>
                <small class="col-md-6">
                  <div class="text-nowrap" ng-class="{'text-muted': !analytic.yards.awesome}">
                    {{analytic.yards.awesome}} super
                  </div>
                  <div class="text-nowrap" ng-class="{'text-muted': !analytic.yards.good}">
                    {{analytic.yards.good}} good
                  </div>
                  <div class="text-nowrap" ng-class="{'text-muted': !analytic.yards.bad}">
                    {{analytic.yards.bad}} bad
                  </div>
                </small>
                <small class="col-md-6">
                  <div class="text-nowrap" ng-class="{'text-muted': !analytic.yards.great}">
                    {{analytic.yards.great}} great
                  </div>
                  <div class="text-nowrap" ng-class="{'text-muted': !analytic.yards.normal}">
                    {{analytic.yards.normal}} normal
                  </div>
                  <div class="text-nowrap" ng-class="{'text-muted': !analytic.yards.loss}">
                    {{analytic.yards.loss}} loss
                  </div>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
